::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
  width: 0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

h1,
h2,
h3,
nav .links div {
  font-family: "Cinzel", serif;
}

p,
a {
  font-family: "Space Grotesk", sans-serif;
}

.active  {
  color: #d9c360;
  border-bottom: #d9c360 2px solid;
}

.skillsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px; /* Adjust the gap as needed */
}

.skill {
  background-color: #262626; /* Add your desired background color */
  padding: 10px; /* Add your desired padding */
  text-align: center; /* Center the text within the boxes */
  border-radius: 3px;
}

/* Add this to your existing CSS or create a new stylesheet */
.menu-icon {
  cursor: pointer;
  display: none;
}

.links {
  display: flex;
}

.rotate-90 {
  transform: rotate(90deg);
}

/* Show mobile menu on mobile */
@media (max-width: 768px) {
  .links {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}
